<!DOCTYPE html>
<html>
<head>
    <title>Lista Giocatori</title>
    <!-- Includiamo Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Lista Giocatori</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Soprannome</th>
                    <th>Punti Totalizzati</th>
                    <th>Partite Giocate</th>
                </tr>
            </thead>
            <tbody>
                {% for giocatore in giocatori %}
                <tr>
                    <td>{{ giocatore.nome }}</td>
                    <td>{{ giocatore.soprannome }}</td>
                    <td>{{ giocatore.punti_totalizzati }}</td>
                    <td>{{ giocatore.partite_giocate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Includiamo jQuery e Popper.js per il funzionamento di Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4+N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <!-- Includiamo il file Javascript di Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
